# ========================================
#               DATA ANALYSIS
# ========================================
pandas #==1.0.3
numpy
scipy

iso3166
datetime

# ========================================
#               DATA VIZ
# ========================================